*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
header {
    width: 100%;
    z-index: 9;
    transition: 0.5s;
}

.nav-top{
    width: 100%;
    min-height: 8vh;
    font-size: 1.7em;
    margin-top: 30px;
    word-spacing: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: fade-in 3s linear;
}

.nav-top a{
    text-decoration: none;
    color: #0e3742;
    margin: auto 1rem; 
    animation: animate 6s linear 0.5s, fade-in 1s linear;
}

@media only screen and (max-width:1134px) {
    
.nav-top a{
    text-decoration: none;
    color: #0e3742;
    margin: auto 1rem; 
    animation: animate 6s forwards linear 0.5s, fade-in 1s linear;
}
}
    
.nav-top a:hover{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
}
    
.textgrph
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;
}

h2    
{
    position: relative; 
    font-size: 5em;
    letter-spacing: 15px;
    color: #0e3742;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    animation:  animate 6s forwards 1s, fade-in 1s linear;
    outline: none;
}  
@media only screen and (max-width :1134px) {
    h2{
        font-size: 3em;
    }
} 



.buttons{
    background-color: transparent;
    font-size: 60px;
    color: #0e3742;
    font-size: 20px;  
    display: inline;
    margin-top: 0%;
    margin: auto;
    justify-content: space-around;
    position: relative;
    
}


#prevbutton{
    background-color: transparent;
    font-size: 60px;
    color: #0e3742;
    border: 0px  #0e3742;
    border-bottom: none;
    
}

#prevbutton:hover{
    color: #fff;
    background-color: #03bcf4;
    cursor: pointer;
    border: 0 0 10px #03bcf4;
    box-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
}

#nextbutton{
    background-color: transparent;
    font-size: 60px;
    color: #0e3742;
    border: 0px  0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
    border: transparent;
}

@media only screen and (max-width:1134px) {
    #nextbutton{
        background-color: transparent;
        font-size: 60px;
        color: #0e3742;
        border: 0px  0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
        border: transparent;
    animation: animate 6s linear 0.5s, fade-in 1s linear;

    }
}

#nextbutton:hover {
    color: #fff;
    background-color: #03bcf4;
    cursor: pointer;
    border: 0 0 10px #03bcf4;
    box-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
}


@keyframes animate
{
    0%,18%,20%,50%,60%,65%,80.1%,90.1%,92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }  
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes all-faded {
    
    100%{
        opacity: 0;
    }
}
