*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    overflow:hidden;
}
header {
    width: 100%;
    z-index: 9;
    transition: 0.5s;
}

.nav-top{
    width: 100%;
    min-height: 8vh;
    font-size: 1.7em;
    margin-top: 30px;
    word-spacing: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: fade-in 3s linear;
}

.nav-top a{
    text-decoration: none;
    color: #0e3742;
    margin: auto 1rem; 
    /* animation: animate 6s linear 0.5s, fade-in 1s linear; */
}
    
.nav-top a:hover{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
}
    
.textgrph
{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: auto;
    background: #07252d;

}
.column {
    float: left;
    width: 25%;
    padding: 0 20px;
    
  }
  
.column1 {
    margin: auto;
    text-align: center;
    justify-content: center;
  width: 70%;
  padding: 0 20px;
  
}
  
.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
    width: auto;
}
.card1 {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
    width: auto;
}
li,h3
{
    position: relative; 
    /* letter-spacing: 5px; */
    color: #0e3742;
    width: 100%;
    text-align: center;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,#0004); */
    line-height: 0.70em;
    outline: none;
}  
.specialli li{
    text-align: center ;
}

li
{
    line-height: normal;
    text-align: left;
    font-size: 20px;
    animation:  animate 0.5s forwards ;
}

h3
{
    font-size: 40px;
    animation:  animate 0.5s forwards;
}
@media only screen and (max-width :1430px) {
    h3{
        font-size: 2em;
    }
} 
@media only screen and (max-width :1200px) {
    h3{
        font-size: 1em;
    }
} 

@keyframes animate
{
   
    100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
@keyframes animate2
{
    0%,18%,20%,50%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }  
}

